%h2 About
%br
%p 
  This is mini blogging application, 
  inspired by #{ link_to 'Ruby on Rails Tutorial', '#' }. 
  You can see source code #{link_to 'here', '#'}.
%br
= link_to 'Back to Nanoblog', root_url
