.container.d-flex.flex-column.full-height
  %h2.fw-bold.mt-4 
    Contact
  %p.fs-5.mt-4 
    Contact me #{link_to 'here', '#', class: 'text-danger text-decoration-none'}.
  .mt-auto.mb-3
    = render 'shared/back_link'