%h1 Welcome to Nanoblog
= link_to 'Log in', '#'
%br
%br
%br
%br
%br
%p Haven't got an account?
%h1 Register now
= link_to 'Sign up', signup_url
%br
%br
%br
%br
= link_to 'About', about_url
= link_to 'Contact', contact_url
