= simple_form_for :relationship, url: relationships_url do |f|
  = f.input :followed_id, label: false, input_html: { type: 'hidden', value: user.id }
  = f.button :submit, 'Follow', class: 'btn btn-secondary'