- rel_id = Relationship.find_by(followed_id: @user.id).id
= simple_form_for :relationship, method: :delete, url: relationship_url(rel_id) do |f|
  = f.button :submit, 'Unfollow', class: 'btn btn-secondary'
